$header-color: hsl(158, 4%, 84%);
$body-color: hsl(320, 14%, 17%);
$header-height: 9rem;
$play-button-size: 3rem;

.voice_over {
    &__title {
	background-color: $header-color;
	text-align: center;
	font-size: xx-large;
	height: $header-height;
	font-family: Arial, Helvetica, sans-serif;

	h1 {
	    padding: calc($header-height / 3) 0;
	    margin: 0;
	}
    }

    &__body {
	background-color: $body-color;
	color: white;
	height: fit-content;
	

	&__header {
	    font-size: x-large;
	    padding: 1rem;

	    h2 {
		margin-bottom: 0;
		font-family: 'Times New Roman', Times, serif;
		font-weight: 300;
	    }
	    p {
	    	margin-top: 0;
		font-size: medium;
		font-family: 'Times New Roman', Times, serif
	    }
	}

	&__container {
	    overflow-y: scroll;
	    height: 39vh;

	    &__play {
		display: grid;
		grid-template-areas:
		    "play play1 play2 play3";

		grid-template-rows: 1fr;
		grid-template-columns: 6rem 1fr 1fr 9rem;
		
		&__circle {
		    grid-area: play;
		    margin-left: 1rem;
		    align-self: center;
		    width: $play-button-size;
		    height: $play-button-size;
		    border-radius: 50%;
		    border: 1px solid white;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    cursor: pointer;
		}

		#demo_selected {
		    grid-area: play1;
		    justify-self: start;
		    
		}

		#catch_phrase {
		    grid-area: play1;
		    margin-top: 2.5rem;
		    justify-self: start;
		}

		#demo_time {
		    grid-area: play3;
		    justify-self: center;
		    align-self: center;
		    
		}

	    }
	}
    }
}

